body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  width: 53rem;
  height: 37rem;
  display: flex;
  border: solid black;
  border-radius: 2rem 2rem 16rem 2rem;
}
