body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  width: 51rem;
  height: 41rem;
  display: flex;
  flex-direction: column;
  border-radius: 2rem 2rem 16rem 2rem;
  align-items: center;
  background-color: white;
}

.top-row {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 85%;
}

.bottom-row {
  display: flex;
  flex-direction: row;
  flex: 2;
  width: 85%;
}

.birthday-entry-container {
  margin-top: 1.3rem;
  width:100%;
}

.day-input, .month-input, .year-input {
  display: flex;
  flex-direction: column;
  margin: 0 0.7rem
}

input{
  border-radius: 0.5rem;
  border: solid lightgray 1.6px;
  height: 4.2rem;
  padding: 0 1.4rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 7rem;
  background-color: white;
  font-size: 1.8rem;
  font-weight: bold;
}

input:hover{
  border: solid #884EFE 1.6px;
}

label {
  color: gray;
  font-weight: bold;
}

form {
  margin: 1.5rem 0.5rem 0rem 0rem;
}

.birthday-inputs {
  display: flex;
}

hr {
  border: none;
  margin-top: 2.4rem;  
  height: 1.2px;    
  background-color: lightgray;
  width: 100%;
  margin-bottom: 3rem;
}

.submit-button {
  background-color: #884EFE;
  display: flex;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  padding: 1.2rem;
  border-radius: 50px;
}

.submit-button:hover{
  background-color: #550fe0;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.years, .months, .days {
  font-size: 83px;
  font-weight: 800;
  font-style: italic;
  margin: 0rem 0.5rem;
  color: #884EFE
}

.calendrical {
  color: black
}

.error-validation {
  color: red;
  font-style: italic;
  font-size: 0.9rem;
}

.error-label {
  color: red;
}

.error-input {
  border: solid red 1.6px;
}

input[type=number]{
  -moz-appearance: textfield;
}

@media (max-width: 700px) {
  .submit-button {
    position: absolute;
    margin: 0 10.5rem;
    width: 1.7rem;
    height: 1.7rem;
    margin-top: 0.4rem;
  }

  .container {
    width: 30rem;
    border-radius: 2rem 2rem 8rem 2rem;
    height: 39rem
  }

  .years, .months, .days {
    font-size: 4rem;
  }

  input {
    width: 4rem;
    background-color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 361px) {
  body {
    height: 70vh;
  }

  .container {
    width: 20rem;
    border-radius: 2rem 2rem 6rem 2rem;
    height: 29rem;
  }

  .submit-button {
    position: absolute;
    margin: 0 6.3rem;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.5rem;
  }

  .years, .months, .days {
    font-size: 2.7rem;
  }

  .day-input input, .month-input input, .year-input input {
    font-size: 0.7rem;
    width: 40%;
    height: 3.3rem;
  }

  hr {
    margin-bottom: 2rem
  }

  .error-validation {
    color: red;
    font-style: italic;
    font-size: 0.5rem;
  }
}
